* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

button {
  width: 70px;
  height: 50px;
  font-size: 18px;
  border: 2px solid transparent;
  border-radius: 3px;
  padding: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

button:hover {
  opacity: 1;
}

button:active {
  opacity: 0.8;
}

button:focus {
  outline: 0;
  border-color: aquamarine;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.calculator {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  background-color: tomato;
  border-radius: 5px;
  font-size: 0;
}

.answer {
  text-align: right;
  margin-bottom: 20px;
  padding: 5px 10px;
  height: 50px;
  font-size: 32px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid #fff;
}

.buttons, .moar-buttons {
  display: inline-block;
}

.buttons {
  width: 240px;
}

.moar-buttons {
  width: 70px;
}

.moar-buttons button {
  margin-right: 0;
}

.clear button {
  background-color: bisque;
}

.buttons button:last-child, .evaluate button {
  margin-bottom: 0;
}

/*.operators button {
  width: 115px;
}
*/

/*.clear button {
  width: 245px;
}

.button0 {
  width: 245px;
}

.evaluate button {
  width: 245px;
}*/